.sub-navigation {
    background-color: #F5F5F5;
    border-radius: 4px;
}

.sub-navigation ul {
    padding: 10px 0;
}

.sub-navigation ul li.active > a {
    font-weight: bold;
}

.sub-navigation ul ul {
    padding: 0 10px 0 10px;
}

.sub-navigation ul ul a {
    padding: 5px 25px;
    font-size: 90%;
}

div.link-list {
    width: 35%; 
    float: right; 
    background: #F5FAFF; 
    padding: 0 5px; 
    margin-left: 5px; 
    font-size: 12px;
}

div.link-list h4 {
    margin-bottom: 2px;
}

div.link-list ul {
    padding-left: 16px;
}