.sub-navigation {
    background-color: #F5F5F5;
    border-radius: 4px;
}

.sub-navigation ul {
    padding: 10px 0;
}

.sub-navigation ul li.active > a {
    font-weight: bold;
}

.sub-navigation ul ul {
    padding: 0 10px 0 10px;
}

.sub-navigation ul ul a {
    padding: 5px 25px;
    font-size: 90%;
}