@using FruitCorp.Web.Helpers
@model FruitCorp.Web.Models.Pages.BasePage
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="@Model.MetaDescription"/>
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/custom.css" rel="stylesheet">
    <title>@Model.Title</title>
    @Html.RenderEPiServerQuickNavigator()
</head>
<body>
    <div class="container">
        @{ Html.RenderMainNavigation(); } 
        @RenderBody()
    </div>
</body>
</html>
